@page "/"

@using Blazor.Extensions
@using Blazor.Extensions.Canvas.Canvas2D

<PageTitle>Genetic Cars</PageTitle>

<img @ref="_trackImgRef" class="hidden" src="@_image64" style="display: none">

<div id="canvasHolder" style="border-style: solid;border-color: aquamarine; width: 810px; height: 810px">
  <BECanvas Width="800" Height="800" @ref="_canvas"></BECanvas>

<button @onclick="OnStartClick">Start</button>
<button @onclick="OnResetClick">Reset</button>
<select @onchange="@(async (e) => await OnTrackChangedAsync(e))" class="form-control">
  @foreach (var track in _trackList)
  {
    <option value="@track">@track</option>
  }
</select>
<textarea @bind="_debug"></textarea>
</div>

